[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
loguru = "*"
requests = "*"
flake8-import-order = "*"
flake8-quotes = "*"
flake8-commas = "*"
flake8-comprehensions = "*"
flake8-print = "*"
flake8-annotations-complexity = "*"
pep8-naming = "*"
flake8-builtins = "*"
flake8-bugbear = "*"
flake8-eradicate = "*"
flake8-bandit = "*"
pytest = "*"
responses = "*"
pyenchant = "*"
flake8 = "*"
pylint = "*"
pylint-runner = "*"
testfixtures = "*"
atomicwrites = "*"

[requires]
python_version = "3.6"
